<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gpdnj.pocketmanager">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pocket_manager"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_pocket_manager_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAtvx8z0K2Fk2oKoPl25c6uHd_eAAIWK94" />

        <activity
            android:name="com.example.soyeon.MapSearchActivity"
            android:label="MapSearchActivity"></activity>

        <activity android:name=".OrderAmountPriceAdapter"></activity>
        <activity android:name=".ReviewModifyActivity" />
        <activity android:name=".MyReviewActivity" />
        <activity android:name=".ReviewDetailActivity" />
        <activity android:name=".ReviewMainActivity" />
        <activity android:name=".ReviewAddActivity" />     
        <activity android:name=".EventModifyActivity" />
        <activity android:name=".EventDetailActivity" />
        <activity android:name=".EventAddActivity" />
        <activity android:name=".ManagerEventSettingActivity" />
        <activity android:name=".UserSettingActivity" />
        <activity android:name=".ManagerSettingActivity" />
        <activity android:name=".ManagerHomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SocialLoginActivity" /> <!-- Facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".JoinActivity1" />
        <activity android:name=".JoinActivity2" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MenuNavigation" />
        <activity android:name="com.example.soyeon.AddProduct" /> <!-- 김소연 -->
        <activity android:name="com.example.soyeon.EditProduct" />
        <activity android:name="com.example.soyeon.MainExpense" />
        <activity android:name="com.example.soyeon.AddExpense" />
        <activity android:name="com.example.soyeon.EditExpense" />
        <activity android:name="com.example.soyeon.MainProduct" />

        <activity android:name="com.example.hyejin.ParentActivity" /> <!-- 김혜진 -->
        <activity android:name="com.example.hyejin.SalesManagerActivity" />
        <activity android:name="com.example.hyejin.SalesManagerSettingActivity" />
        <activity android:name="com.example.hyejin.SalesManagerMainActivity" />
        <activity android:name="com.example.hyejin.SalesManagerModifyActivity" />
        <activity android:name=".OrderManagerActivity" />
        <activity android:name=".OrderAddActivity" />
        <activity android:name="com.example.jiyeong.pastSalesMode" /> <!-- 윤지영 -->
        <activity android:name="com.example.jiyeong.writeReview" />
        <activity android:name="com.example.jiyeong.currentSalesMode" />
        <activity android:name="com.example.jiyeong.currentSalesDetail" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>